{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}

    {% include  'feed_app/includes/messages.html' %}
    {% load profiles_app_extra_tags_class_add %}

    <div class="flex items-center justify-center mx-6">
        <div class="w-full">
            <h2 class="text-xl text-center text-gray-700 dark:text-gray-200 mb-10 font-semibold">{% trans "Change Password" %}</h2>
            <form method="POST" action="{% url 'profiles_app:custom_change_password' %}" class="password_change mt-4">
                {% csrf_token %}
                {% comment %} errors for each for as a whole {% endcomment %}
                {{ form.non_field_errors }}
                <div class="mt-6 flex flex-col items-center justify-center">
                    <div class="my-2">
                        <div class="flex flex-col items-center justify-center">
                            {{ form.oldpassword.errors }}
                            <div class="flex flex-col items-center justify-center">
                                <label for="{{ form.oldpassword.id_for_label }}" class="block text-sm text-gray-700 dark:text-gray-200 text-center">
                                    Current Password
                                </label>
                                {% comment %} {{ form.oldpassword.label_tag }} {% endcomment %}
                                {{ form.oldpassword|add_classes:'w-full px-4 py-2 text-gray-700 bg-white border border-gray-300 rounded-lg dark:bg-gray-900 dark:text-gray-300 dark:border-gray-600 focus:border-teal-500 dark:focus:border-teal-500 focus:outline-none focus:ring focus:ring-primary dark:placeholder-gray-400 focus:ring-opacity-40' }}
                                {% comment %} {{ form.oldpassword }} {% endcomment %}
                            </div>
                        </div>                       
                    </div>
                    <div class="my-2">
                        <div class="flex flex-col items-center justify-center">
                            {{ form.password1.errors }}
                            <div class="flex flex-col items-center justify-center">
                                <label for="{{ form.password1.id_for_label }}" class="block text-sm text-gray-700 dark:text-gray-200 text-center">
                                    New Password
                                </label>
                                {% comment %} {{ form.password1.label_tag }} {% endcomment %}
                                {{ form.password1|add_classes:'w-full px-4 py-2 text-gray-700 bg-white border border-gray-300 rounded-lg dark:bg-gray-900 dark:text-gray-300 dark:border-gray-600 focus:border-teal-500 dark:focus:border-teal-500 focus:outline-none focus:ring focus:ring-primary dark:placeholder-gray-400 focus:ring-opacity-40' }}
                                {% comment %} {{ form.password1 }} {% endcomment %}
                            </div>
                        </div>
                    </div>
                    <div class="my-2">
                        <div class="flex flex-col items-center justify-center">
                            {{ form.password2.errors }}
                            <div class="flex flex-col items-center justify-center">
                                <label for="{{ form.password2.id_for_label }}" class="block text-sm text-gray-700 dark:text-gray-200 text-center">
                                    New Password (again)
                                </label>
                                {% comment %} {{ form.password2.label_tag }} {% endcomment %}
                                {{ form.password2|add_classes:'w-full px-4 py-2 text-gray-700 bg-white border border-gray-300 rounded-lg dark:bg-gray-900 dark:text-gray-300 dark:border-gray-600 focus:border-teal-500 dark:focus:border-teal-500 focus:outline-none focus:ring focus:ring-primary dark:placeholder-gray-400 focus:ring-opacity-40' }}
                                {% comment %} {{ form.password2 }} {% endcomment %}
                            </div>
                        </div>
                    </div>
                    <div class="my-2">
                        {% comment %} {{ form.as_p }} {% endcomment %}
                        <button type="submit" name="action" class="py-3 px-4 my-3 items-center 
                            gap-2 rounded-md border border-transparent font-semibold bg-blue-500 text-white hover:bg-blue-600 
                            focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 transition-all text-sm 
                            dark:focus:ring-offset-gray-800">
                                {% trans "Change Password" %}
                        </button>
                    </div>
                </div>
            </form>
            
            <div class="relative flex py-5 items-center">
                <div class="flex-grow border-t border-gray-400"></div>
                <span class="flex-shrink mx-4 text-gray-400">or</span>
                <div class="flex-grow border-t border-gray-400"></div>
            </div>
            
            <div class="text-center">
                <label class="block text-gray-500 font-bold">
                    <a href="{% url 'account_reset_password' %}"
                        class="cursor-pointer tracking-tighter text-black border-b-2 border-gray-200 
                        hover:border-gray-400">
                            <span>{% trans "Forgot Password?" %}</span>
                    </a>
                </label>
            </div>
        </div>
    </div>
    
{% endblock %}
    
    

              
                

     